{% extends 'base.html.twig' %}

{% block body_content %}
<div class="row justify-content-center text-center" id="edge" style="padding-bottom:70px; padding-top: 5%;">
    <h1 class="sizedPageTitle">ACCESO A MIS SORTEOS</h1>
</div>
        
<nav>
    <ul class="nav nav-tabs bg-dark text-light">
        <li class="nav-item" ><a class="nav-link text-light" href="/sorteo/login">Login</a></li>
        <li class="nav-item" ><a class="nav-link text-light" href="/sorteo/registro">Registro</a></li>
    </ul>
</nav>
{% endblock %}